/* ==================================
   TamannaVerse Premium
   Password 2 CSS
================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    block-size: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(135deg,
            #ff5fa2,
            #ff8cc6,
            #ffd5ea,
            #fff2f8);

    background-size: 400% 400%;

    animation: bgMove 10s infinite ease;

}

@keyframes bgMove {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.hearts {

    position: fixed;

    inset-inline-start: 0;
    inset-block-start: 0;

    inline-size: 100%;
    block-size: 100%;

    overflow: hidden;

    pointer-events: none;

}

.heart {

    position: absolute;

    inset-block-end: -60px;

    animation: fly linear forwards;

    text-shadow: 0 0 10px hotpink;

}

@keyframes fly {

    0% {

        transform: translateY(0);

        opacity: 0;

    }

    20% {

        opacity: 1;

    }

    100% {

        transform: translateY(-120vh) rotate(360deg);

        opacity: 0;

    }

}

.container {

    inline-size: 430px;

    max-inline-size: 92%;

    padding: 40px;

    border-radius: 30px;

    background: rgba(255, 255, 255, .15);

    backdrop-filter: blur(15px);

    text-align: center;

    box-shadow: 0 0 35px rgba(255, 20, 147, .45);

}

.teddy {

    font-size: 90px;

    margin-block-end: 20px;

    animation: bounce 2s infinite;

}

@keyframes bounce {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }

}

h1 {

    color: white;

    margin-block-end: 20px;

    font-size: 36px;

}

.question {

    color: white;

    font-size: 20px;

    line-height: 30px;

    margin-block-end: 30px;

}

input {

    inline-size: 100%;

    padding: 18px;

    border: none;

    outline: none;

    border-radius: 40px;

    font-size: 18px;

    margin-block-end: 25px;

}

button {

    inline-size: 100%;

    padding: 18px;

    border: none;

    border-radius: 40px;

    cursor: pointer;

    font-size: 20px;

    font-weight: bold;

    background: linear-gradient(45deg,
            #ff0080,
            #ff4da6);

    color: white;

    transition: .4s;

}

button:hover {

    transform: scale(1.05);

    box-shadow:

        0 0 20px hotpink,

        0 0 40px deeppink;

}

#message {

    margin-block-start: 20px;

    font-size: 18px;

    color: white;

    min-block-size: 25px;

}